@using ProWorldz.Web.Models;

@model PostCommentModel

@section styles{
    @Styles.Render("~/Content/themes/custom/Proworldz.dashboard.css")
}
<div id="dashBoardWrapper">
    <div class="cover profile">
        
            <div class="wrapper">
                <div class="row dashboard-info">
                    @if (ViewBag.Id == 0)
        { 
                    <div class="col-md-6">
                        <div class="margin-bottom7">
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <span data-bind="text:User.Email"></span>
                        </div>
                        <div class="margin-bottom7">
                            <i class="fa fa-birthday-cake fa-fw"></i>
                            <span data-bind="text: moment(User.DOB()).format('LL')"></span>
                        </div>
                        <div class="margin-bottom7">
                            <i class="fa fa-book fa-fw"></i>
                            <span data-bind="text:User.CommunityName"></span>
                        </div>
                        <div class="margin-bottom7">
                            <i class="fa fa-book fa-fw"></i>
                            <span data-bind="text:User.SubCommunityName"></span>
                        </div>
                        <div class="margin-bottom7">
                           
                            <span id="dvEarnPoints"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 text-center div-count-circle">
                                <div class="col-md-4  circle-text">
                                    <i class="fa fa-fw  fa-group"></i>Friends
                                <br />
                                    <a href="#" class="dashboard-count-circle">0</a>
                                </div>
                                <div class="col-md-4  circle-text">
                                    <i class="fa fa-suitcase"></i>Jobs Applied
                                <br />
                                    <a href="#" class="dashboard-count-circle">0</a>
                                </div>
                                <div class="col-md-4  circle-text">
                                    <i class="fa fa-envelope-square"></i>Your Posts
                                <br />
                                    <a href="#" class="dashboard-count-circle" data-bind="text:UserPostList().length"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    }
                </div>

            </div>
        
        <div class="cover-info">
            <div class="avatar">
                <img class="media-object img-circle img-responsive user-avatar-mini" data-bind="attr: { src: User.Image()}" src="" style="background-position: -105px 207px;">
                @*<img data-bind="attr: { src: User.ImageUrl}" alt="people">*@
            </div>
            <div class="name">
                <a href="/Account/Profile" style="color: black;" data-bind="text:User.Name"></a>
            </div>
            <ul class="cover-nav">
                <li>
                    <a href="/"><i class="fa fa-fw icon-ship-wheel"></i>Home</a>
                </li>
                @if (ViewBag.Id != 0)
                { 
                    <li>
                        <a href="#" onclick="showHideUserPosts();"><i class="fa fa-fw icon-user-1"></i>User Posts</a>
                    </li>
                    <li>
                        <a href="#" onclick="showHideUserInfo();"><i class="fa fa-fw icon-user-1"></i>User Info</a>
                    </li>
                    
                     

               
                    <li style="margin-left: 200px;">
                        <br />
                        <button class="btn btn-default" onclick="UserBlock();">Block</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Share Contact Detail</button>
                        <button class="btn btn-success" onclick="UserFollow();">Follow</button>
                    </li>
                }


            </ul>
        </div>
    </div>
    <div class="timeline row post-container-wrapper" data-toggle="isotope" id="dvUserPosts">

        <div data-bind="foreach:UserPostList">

            <div class="col-xs-12 col-md-6 col-lg-6 item post-container">
                <div class="timeline-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left">
                                    <span>
                                        <img style="height: 50px; width: 50px" data-bind="attr: { src: ImageUrl}" class="media-object">
                                    </span>
                                </div>
                                <div class="media-body">

                                    <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                                    <a href="#" data-bind="text:UserName"></a>
                                    on <span data-bind="text: moment(CreationDate()).format('LL')"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body user-post">
                            <div class="boxed">
                                <h4 class="post-header" data-bind="text:Subject"></h4>
                                <p class="post-text" data-bind="html:Post"></p>
                                @*<h3 data-bind="text:FileUrl,visible: FileUrl"></h3>*@
                                <a target="_blank" data-bind="attr: {href:FileUrl},text:FileUrl,visible: FileUrl"></a>
                                <a target="_blank" data-bind="attr: {href:FilePath},text:FilePath,visible: FilePath"></a>
                            </div>
                        </div>
                        <div class="view-all-comments">
                            <a href="#">
                                <i class="fa fa-comments-o"></i>
                            </a>

                            <span data-bind="if:UserComments().length == 1">
                                <span data-bind="text:UserComments().length"></span>comment
                            </span>
                            <span data-bind="if:UserComments().length > 1">
                                <span data-bind="text:UserComments().length"></span>comments
                            </span>


                        </div>
                        <ul class="comments">
                            <li data-bind="foreach:UserComments" data-container="comment-box">
                                <ul class="comment-box">
                                    <li class="media" data-container="comment-strip">
                                        <div class="media-left">
                                            <span>
                                                <img style="height: 50px; width: 50px" data-bind="attr:{src:ImageUrl}" class="media-object">
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="btn pull-right" data-container="comment-controls" data-bind="visible:$root.IsCommentOwner($parent.UserId,$root.User.Id)">
                                                <span data-bind=" click:$root.StartEditComment" class="toggle-button">
                                                    <i class="fa fa-pencil"></i>
                                                </span>
                                                <span data-bind="click:$root.DeleteComment" class="btn toggle-button">
                                                    <i class="fa fa-trash"></i>
                                                </span>

                                            </div>
                                            <a href="#" class="pull-left comment-author" data-bind="text:UserName"></a>
                                            <span data-control="text-comment" data-bind="text:Comment"></span>
                                            <div class="comment-date" data-bind="text:CreationDate"></div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="comment-form">
                                <div class="input-group">
                                    <input type="text" class="txtUserComment form-control" placeholder="Type your comment here.." />

                                    <div class="input-group-btn" data-control="post-comment-control" data-bind="click:UserDashboardVM.PostComment">
                                        <span class=" btn btn-default">
                                            <i class="fa fa-paper-plane"></i>
                                        </span>
                                    </div>
                                    <div class="input-group-btn hidden" data-control="edit-comment-controls">
                                        <span class=" btn btn-default" data-bind="click:$root.EditComment">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class=" btn btn-default" data-bind="click:$root.CancelEditComment">
                                            <i class="fa fa-close"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>



    </div>


    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Share Detail</h4>
                </div>
                <div class="modal-body">
                    <p>Send Your Detail along with Message.</p>
                    <div class="row">
                        <div class="col-md-12">

                            <label for="exampleInputFirstName">Message</label>
                            <textarea class="form-control" rows="3" cols="5" placeholder="Message" id="txtMessage"></textarea>




                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ShareContactDetail();">Submit</button>
                </div>
            </div>
        </div>
    </div>



    @*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@
</div>
@*@if (ViewBag.Id != 0)
{ 
    <div id="dvUserInfo">
        @{Html.RenderAction("UserProfile", "Home", new { Id = ViewBag.Id });}
    </div>
}*@



@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script>
        var UserDashboardVM = ko.mapping.fromJS(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));


        $(document).ready(function () {
            EarnPoints();
        })
        function showHideUserInfo() {
            $("#dvUserPosts").hide();
            $("#dvUserInfo").show();
        }

        function showHideUserPosts() {
            $("#dvUserPosts").show();
            $("#dvUserInfo").hide();
        }

        function UserBlock() {
            var Id = '@ViewBag.Id';
            $.get('/Home/UserBlock/' + Id, function (data) {
                debugger;
                alert(data)
            })
        }


        function UserFollow() {
            var Id = '@ViewBag.Id';
            $.get('/Home/UserFollow/' + Id, function (data) {
                debugger;
                alert(data)
            })
        }
        function ShareContactDetail() {
            var Id = '@ViewBag.Id';
            var Message = $("#txtMessage").val();
            $.post('/Home/ShareContactDetail?Id=' + Id + '&Message=' + Message, function (data) {
                debugger;
                alert(data);
                $("#myModal").modal('hide')
                window.location.href = window.location.href;
            })
        }


        function EarnPoints() {
          
            $.get('/LatestTechnology/GetEarnPoints/', function (data) {
              
                alert(data)
                document.getElementById('dvEarnPoints').innerHTML = 'Earn Points' + data;
            })
        }

    </script>
    @Scripts.Render("~/Scripts/Custom/ProWorldz.UserDashboard.js")




}