@model ProWorldz.Web.Models.PostCommentModel
<div class="container">

    <br /><br /><br /><br /><br />
    <div class="clear-fix"></div>
    @if (Model != null && !string.IsNullOrEmpty(Model.SucessMessage))
    {
        <div class="col-md-12" id="successMessage" onclick="hideMessage(this);">
            <div class="alert alert-success" role="alert">@Model.SucessMessage</div>
        </div>
    }
    @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="col-md-12" id="successMessage" onclick="hideMessage(this);">
            <div class="alert alert-success" role="alert">@Model.ErrorMessage</div>
        </div>
    }
    <div class="clear-fix"></div>
    <div class="col-md-12">
        <h4>
            Post Comment
        </h4>
        <hr />
    </div>
    @using (Html.BeginForm("PostComment", "Home", FormMethod.Post))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Subject</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.UserPost.Subject, new { @class = "form-control", @placeholder = "Subject" })
                            @Html.ValidationMessageFor(model => model.UserPost.Subject)
                        </div>
                    </div>

                    <br /><br />

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usere Post</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.UserPost.Post, new { @class = "form-control", @placeholder = "Type Your Post Here........", @rows = "5" })

                        </div>
                    </div>
                    <br /><br /><br /><br /><br /><br />
                    <div class="form-group margin-none">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    }






    <div class="panel panel-default">
        <!-- Data table -->
        <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Subject</th>
                    <th>User Name</th>
                    <th>Creation Date</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.UserPostList)
                {
                    <tr>
                        <td>@item.Post</td>
                        <td>@item.Subject</td>
                    <td>@item.UserName</td>
                    <td>@item.CreationDate</td>

                </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // alert("hi")

    })
    function hideMessage(data) {
        $(data).hide("slow")

    }
</script>

