@model ProWorldz.Web.Models.PostCommentModel


    <div class="row">
        <div class="col-md-12" id="divMessage" onclick="hideMessage(this);">
            @if (Model != null && !string.IsNullOrEmpty(Model.SucessMessage))
        {
                <div class="alert alert-success" role="alert">@Model.SucessMessage</div>
        }
            @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
        {
                <div class="alert alert-success" role="alert">@Model.ErrorMessage</div>
        }
        </div>
    </div>
    <div class="row">
        <div>
            <h3 class="title cursor" id="createPost">
                <i class="fa fa-fw fa-plus-circle"></i>
                Create New Post
            </h3>


            @using (Html.BeginForm("PostComment", "Home", FormMethod.Post))
            {
                <div class="panel panel-default" id="divPost">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Subject</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.UserPost.Subject, new { @class = "form-control", @placeholder = "Subject" })
                                    @Html.ValidationMessageFor(model => model.UserPost.Subject)
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Content</label>
                                <div class="col-sm-9 margin-bottom10">
                                    @Html.TextAreaFor(model => model.UserPost.Post, new { @class = "form-control", Id = "editor1", placeholder = "Type Your Post Here........", @rows = "5" })
                                </div>
                            </div>
                            <br /><br /><br /><br /><br /><br />
                            <div class="form-group margin-none">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            }
        </div>
            <h3 class="title">
                <i class="fa fa-fw fa-list"></i>
                Post Listing
            </h3>
        
    <div class="panel panel-default padding-All30">
        <!-- Data table -->
        <table data-toggle="data-table" class="table table-bordered table-hover table-responsive table-striped" cellspacing="0" width="100%">
            <thead >
                <tr>
                    <th>Post</th>
                    <th>Subject</th>
                    <th>User Name</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserPostList)
                {
                    <tr>
                        <td>@item.Post</td>
                        <td>@item.Subject</td>
                        <td>@item.UserName</td>
                        <td>@item.CreationDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

        
       
</div>
@section scripts{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>  
@Scripts.Render("~/Scripts/Custom/ProWorldz.UserPost.js")
}
