@using ProWorldz.Web.Utils
@using ProWorldz.BL.BusinessModel;

<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
    .popover{
        width:300px;
    }
</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proworld</title>
    <link href="~/Content/themes/social-3/css/vendor.min.css" rel="stylesheet">
    <link href="~/Content/themes/social-3/css/theme-core.min.css" rel="stylesheet">
    <link href="~/Content/themes/social-3/css/module-essentials.min.css" rel="stylesheet" />
    <link href="~/Content/themes/social-3/css/module-layout.min.css" rel="stylesheet" />
    @*<link href="~/Content/themes/social-3/css/app/app.css" rel="stylesheet" />*@
    @*<link href="~/Content/themes/social-3/css/module-sidebar.min.css" rel="stylesheet" />
    <link href="~/Content/themes/social-3/css/module-sidebar-skins.min.css" rel="stylesheet" />*@
    <link href="~/Content/themes/social-3/css/module-navbar.min.css" rel="stylesheet" />
    <!-- <link href="css/module-media.min.css" rel="stylesheet" /> -->
    <link href="~/Content/themes/social-3/css/module-timeline.min.css" rel="stylesheet" />
    <link href="~/Content/themes/social-3/css/module-cover.min.css" rel="stylesheet" />
    
    <link href="~/Content/themes/social-3/css/module-chat.min.css" rel="stylesheet" />
    <link href="~/Content/themes/custom/Proworldz.site.css" rel="stylesheet" />
    <!-- <link href="css/module-charts.min.css" rel="stylesheet" /> -->
    @*<link href="~/Content/themes/social-3/css/module-maps.min.css" rel="stylesheet" />*@
    <!-- <link href="css/module-colors-alerts.min.css" rel="stylesheet" /> -->
    <!-- <link href="css/module-colors-background.min.css" rel="stylesheet" /> -->
    <!-- <link href="css/module-colors-buttons.min.css" rel="stylesheet" /> -->
    <!-- <link href="css/module-colors-calendar.min.css" rel="stylesheet" /> -->
    <!-- <link href="css/module-colors-progress-bars.min.css" rel="stylesheet" /> -->
    <!-- <link href="css/module-colors-text.min.css" rel="stylesheet" /> -->
    <style>
        .status{
            z-index:0;item post-container
        }
        .chatBox {
            background: #515858 !important;
            min-width: 300px;
        }
         .chatBox .media .media-body a:hover {
            background: #515858 !important;
        }
         .chatBox img {
                border-top-left-radius: 2 !important;
        }
         .minimise {
             position: absolute;
             bottom: -286px;
         }
         .chatBoxPosition {
             position: absolute;right: 0; top: -268px; line-height: 34px;
         }
    </style>
    @RenderSection("styles", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- If you don't need support for Internet Explorer <= 8 you can safely remove these -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <header>
        <!-- Wrapper required for sidebar transitions -->
        <div class="st-container">
            <!-- Fixed navbar -->
            <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
                <div class="nav-padding">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#sidebar-chat" data-toggle="sidebar-menu" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
                        <a class="navbar-brand" href="index-2.html">ProWorldz</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="nav navbar-nav" style="width: 70%">
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home", new { Area = "" }, null)
                            <li>
                                <a href="/Home/UserPost">User Post</a>
                            </li>
                            <li>
                                <a href="/Account/Profile">Profile</a>
                            </li>
                            <li>
                                <a href="/Home/Friends">Friends</a>
                            </li>
                            <li class="search-form">
                                @using (Html.BeginForm("People", "Home", FormMethod.Get))
                                {
                                    <div class="input-group col-md-8">
                                        <input type="text" class="form-control input-md" name="SearchText" placeholder="Search People By Name" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-md" type="submit" id="searchPeople">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                }
                            </li>

                        </ul>
                        <ul class="nav navbar-nav  navbar-right navbarUser">
                            <!--Friend Requests-->
                            <li style="position: relative">
                                <a href="#" id="popoverFriendrequest">
                                    <span class="notification-circle" data-bind="text:friendInfo().length,visible:friendInfo().length > 0"></span>
                                    <i class="fa fa-group"></i>
                                </a>
                                <!-- Popover Friends hidden content -->
                                <div id="popoverFriendrequestContent" style="display: none">
                                    <div data-bind="foreach:friendInfo">
                                        <div class="panel-heading" style="padding: 0;">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img data-bind="attr:{src: FriendImage}" class="media-object img-circle img-responsive user-avatar-mini">
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="media-heading margin-v-5">
                                                        <b><a href="#" data-bind="text: FriendName"></a></b>
                                                    </p>

                                                    <p class="common-friends">Community<span data-bind="text:FriendCommunity"></span></p>
                                                </div>
                                                <div class="col-md-5 text-right">
                                                    <button data-bind="click:$root.AcceptFriend" class="btn btn-success btn-stroke btn-circle"><i class="fa fa-check"></i></button>
                                                    <button data-bind="click:$root.RejectFriend" class="btn btn-danger btn-stroke btn-circle"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                                <!-- Popover Friends hidden title -->
                                <div id="popoverFriendrequestTitle" style="display: none">
                                    Friend Requests
                                </div>
                            </li>
                            <!-- User -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                                    <img src="~/Content/themes/social-3/images/people/110/guy-5.jpg" alt="Bill" class="img-circle" width="40" />
                                    Bill <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/Account/EditProfile">Edit Profile</a>
                                    </li>
                                    <li>
                                        <a href="#myChangePasswordModal" class="forgot-password" data-toggle="modal">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="/Account/LogOff">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>


        <!-- TOP NAV SEARCH fILED-->
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            <div id="myChangePasswordModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Change Password</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <label for="exampleInputFirstName">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" />

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <label for="exampleInputFirstName">Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm Password" />

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- /st-container -->

    </header>


    <div id="body">

        <!--Main content-->
        <div class="col-md-10" style="padding: 0 30px">
            @RenderBody()
        </div>

        <!--Sidebar chat-->
        <div class="col-md-2">
            <div class="sidebar sidebar-chat left sidebar-size-2 sidebar-offset-2 chat-skin-white sidebar-visible-desktop" id="sidebar-chat">
                <div class="split-vertical">
                    <div class="chat-search">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                    <ul class="chat-filter nav nav-pills">
                        <li class="active"><a href="#" data-target="li">All</a></li>
                        <li class=""><a href="#" data-target=".online">Online</a></li>
                        <li class=""><a href="#" data-target=".offline">Offline</a></li>

                    </ul>
                    <div class="split-vertical-body navbarUser">
                        <div class="split-vertical-cell" style="min-height: 775px">
                            <div data-scrollable="" tabindex="1" style="overflow-y: hidden; outline: none;">
                                <ul class="chat-contacts">
                                    <span data-bind="foreach:allFriendsInfo">

                                        <li data-bind="css:LayoutVM.isOnline($data),click:LayoutVM.CreateChatBox" data-user-id="1" style="display: list-item;">
                                            <a href="#">
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <span class="status"></span>
                                                        <img data-bind="attr:{src: FriendImage}" class="media-object img-circle img-responsive user-avatar-mini">
                                                    </div>
                                                    <div class="media-body" style="padding-left: 10px;">

                                                        <div class="contact-name" data-bind="text:FriendName"></div>
                                                        <small data-bind="text:$root.isOnline($data)"></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ascrail2001" class="nicescroll-rails" style="width: 5px; z-index: 2; cursor: default; position: absolute; top: 86px; left: 195px; height: 247px; opacity: 0;">
                    <div style="position: relative; top: 0px; float: right; width: 5px; height: 79px; border: 0px; border-radius: 5px; background-color: rgb(52, 152, 219); background-clip: padding-box;"></div>
                </div>
            </div>

        </div>

    </div>

    <footer class="footer navbarUser">
        <strong>Proworldz</strong> © Copyright 2015
        <!--template for chat box-->
        <div data-bind="visible:chatObjectArray().length > 0">
                <ul data-bind="foreach:chatObjectArray" class="item post-container" id="chatBoxContainer" style="position: absolute;left: 0; top: -268px; line-height: 34px;list-style:none">
                    <li class="col-xs-12 col-md-3 col-lg-3 timeline-block">
                        <div class="panel panel-default">
                            <!--Pannel header-->
                            <div class="panel-heading chatBox">
                                <div class="media">
                                    <div>
                                        <span>
                                            <img class="media-object img-circle img-responsive user-avatar-mini pull-left" data-bind="attr:{src:chatFriendImage}">
                                        </span>
                                    </div>
                                    <div class="media-body">

                                        <a href="#" class="pull-right text-muted" data-bind="click:$root.closeCurrentBox"><i class="fa fa-times fa fa-2x "></i></a>
                                        <a href="#" class="pull-right text-muted" data-bind="click:$root.minimiseCurrentBox"><i class="fa fa-minus fa fa-2x "></i></a>

                                        <a href="#" class="pull-left" style="line-height: 40px; font-size: 15px" data-bind="text:chatFriendName"></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul class="comments">
                                    <!--Pannel chat list section-->
                                    <li data-container="comment-box" style="height: 170px; overflow-y: scroll;">
                                        <ul class="comment-box" data-bind=foreach:chatMessageList>
                                            <li class="media" data-container="comment-strip" data-bind='template: { name: $root.SelectedTemplate($parent.chatHostId,chatterId)}'></li>
                                        </ul>
                                    </li>

                                    <!--Pannel type send chat section-->
                                    <li class="comment-form">
                                        <div class="input-group">
                                            <input type="text" class="txtUserComment form-control" placeholder="Type your message here.." data-bind="value:chatMsgBoxtext" autofocus>

                                            <div class=" input-group-btn" data-control="post-comment-control" data-bind="click:LayoutVM.SendChatMessage">
                                                <span class=" btn btn-default">
                                                    <i class="fa fa-paper-plane"></i>
                                                </span>
                                            </div>
                                            <div class="input-group-btn hidden">
                                                <span class=" btn btn-default">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <span class=" btn btn-default">
                                                    <i class="fa fa-close"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        
    </footer>

    <script>
        var config = {
            theme: "",
            skins: {
                'default': 'blue'
            }
        };
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Content/themes/social-3/js/vendor-core.min.js"></script>
    <script src="~/Content/themes/social-3/js/vendor-tables.min.js"></script>
    <script src="~/Content/themes/social-3/js/vendor-forms.min.js"></script>
    <script src="~/Content/themes/social-3/js/module-layout.min.js"></script>
    <script src="~/Content/themes/social-3/js/module-timeline.min.js"></script>
    <script src="~/Content/themes/social-3/js/module-chat.min.js"></script>
    @*<script src="~/Content/themes/social-3/js/vendor-maps.min.js"></script>*@
    <script src="~/Content/themes/social-3/js/module-essentials.min.js"></script>
    @*<script src="~/Content/themes/social-3/js/module-sidebar.min.js"></script>*@
    @*<script src="~/Content/themes/social-3/js/module-maps.min.js"></script>*@
    @*<script src="~/Scripts/bootbox.min.js"></script>*@
    <script src="~/Scripts/moment.js"></script>


    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>



    <script>
        var proWorld = window.proWorld || {};
    </script>
    @Scripts.Render("~/Scripts/Custom/Utility/Proworldz.AjaxHelpers.js")
    <script>
        var LayoutVM = {};

        (function (vm) {

            vm.friendInfo = ko.observableArray();
            vm.allFriendsInfo = ko.observableArray();
            vm.chatBoxes = ko.observable();


            // Enabling Popover Friend request - JS (hidden content and title capturing)
            $("#popoverFriendrequest").popover({
                html: true,
                content: function () {
                    return $('#popoverFriendrequestContent').html();
                },
                placement: "bottom",
                title: function () {
                    return $('#popoverFriendrequestTitle').html();
                }
            });

            function onSuccessGetFrndRequest(data) {
                vm.friendInfo(ko.mapping.fromJS(data)());
            }

            proWorld.AjaxHelper.GetCall("/Home/GetFriendequests", onSuccessGetFrndRequest);

            function onSuccessGetAllFriends(data) {
                vm.allFriendsInfo(ko.mapping.fromJS(data)());
                console.log(vm.allFriendsInfo());
            }

            proWorld.AjaxHelper.GetCall("/Home/GetAllFriends", onSuccessGetAllFriends);

            vm.AcceptFriend = function (data) {
                function onSuccessConfirmFriend(responseData) {
                    alert("Congratulations! You have made a new friend.");
                    vm.dataSource(window.globalOptions, window.globalCallback);
                }

                proWorld.AjaxHelper.AjaxPostCallNoType("/Home/ConfirmRequest", data, onSuccessConfirmFriend);
            }
            vm.RejectFriend = function (data) {
                function onSuccessDeleteFriend(responseData) {
                    alert("Friend removed successfully");
                    vm.dataSource(window.globalOptions, window.globalCallback);
                }

                proWorld.AjaxHelper.AjaxPostCallNoType("/Home/DeleteFriend", data, onSuccessDeleteFriend);
            }
            vm.isOnline = function (data) {
                return data.IsOnline() === true ? "online" : "offline";
            };

            var chat = $.connection.chatHub;
            $.connection.hub.start().done(function () {
                chat.server.createAuth();
            });

            vm.SelectedTemplate = function(userId,chatterId) {
                return   userId() === chatterId ? "right" : "left";
            }

            vm.closeCurrentBox = function(data) {
                console.log(data);
                vm.chatObjectArray.remove(data);
            }
           
            vm.minimiseCurrentBox = function(data,event) {
                var clickedBox = $(event.target);
                $(clickedBox).closest('div.chatBox').next('div').toggle();
                $(clickedBox).closest('div.panel-default').toggleClass('minimise');
            }
           
            vm.chatObjectArray = ko.observableArray();


            vm.CreateChatBox = function (data) {
                console.log(data);


                var chatBoxIdUser = data.UserId() + data.FriendName();//if user clicks again on same frnd
                var chatBoxIdFriend = data.FriendId() + data.UserName();//if friend clicks again user
                var position = 100;

                var chatBoxArrLen = vm.chatObjectArray().length;
                if (chatBoxArrLen > 0) {//means you have people you are chatting with
                    for (var i = 0; i < chatBoxArrLen; i++) {
                        if (vm.chatObjectArray()[i].chatBoxId() === chatBoxIdUser || vm.chatObjectArray()[i].chatBoxId() === chatBoxIdFriend) {
                            //var box1 = $("#" + chatBoxIdUser);
                            //var box2 = $("#" + chatBoxIdFriend);
                            //if(box1 == null && box2 == null){
                                alert("already chatting");
                                return;
                            //}
                        } 
                    }
                }
             
                var chatObject = {
                    chatHostId: ko.observable(data.UserId()),
                    chatHostName: ko.observable(data.UserName()),
                    chatMsgBoxtext: ko.observable(),
                    chatMessageList: ko.observableArray([]),
                    chatFriendName: ko.observable(data.FriendName()),
                    chatBoxId: ko.observable(chatBoxIdUser),
                    chatFriendId: ko.observable(data.FriendId()),
                    chatFriendImage: ko.observable(data.FriendImage()),
                    chatHostImage: ko.observable(),
                    chatMessage: ko.observable()
                }

                vm.chatObjectArray.push(chatObject);
                
                //var chatBox = $("#chatBox").html();
                //$(".footer").append(chatBox);
                //$(".footer.navbarUser").each(function () {
                //        ko.cleanNode(this);
                //        ko.applyBindings(vm, this);
                //});
            }
            function getCurretnDate() {
                var now = new Date();
                var strDateTime = [[AddZero(now.getDate()), AddZero(now.getMonth() + 1), now.getFullYear()].join("/"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":"), now.getHours() >= 12 ? "PM" : "AM"].join(" ");

                //Pad given value to the left with "0"
                function AddZero(num) {
                    return (num >= 0 && num < 10) ? "0" + num : num + "";
                }

                return strDateTime;
            }
            vm.SendChatMessage = function (data) {

                if (data.chatMsgBoxtext() != undefined)
                        {
                    // Call the Send method on the hub.
                        var chatMessage = data.chatHostName() + " : " + ko.toJS(data.chatMsgBoxtext);
                        var msgObj = { "chatMessage": chatMessage, "chatMsgDateTime": getCurretnDate(), chatterId: data.chatHostId() }
                        data.chatMessage = msgObj;
         
                        data.chatMessageList.push(msgObj); //push to chat list array to display on user screen

                        data.chatMsgBoxtext("");//clear chat input text
                        var model = ko.toJS(data);
                        console.log(model);
                        chat.server.sendChatMessage(model);
                }else{
                    alert("cannot be balnk");
                }
            }
           
            chat.client.appendChatBoxOnFriend = function (chatDetail) {
                
                var chatObject = ko.mapping.fromJS(chatDetail);
                console.log(chatObject);


                var chatBoxArrLen = vm.chatObjectArray().length;
                if (chatBoxArrLen > 0) {
             
                    
                    var chatBoxIdUser = chatObject.chatFriendId() + chatObject.chatHostName();//if user clicks again on same frnd
                    var chatBoxIdFriend = chatObject.chatHostId() + chatObject.chatFriendName();//if friend clicks again user
                    var msgObject = {
                        chatMessage: chatDetail.chatMessage.chatMessage,
                        chatMsgDateTime: chatDetail.chatMessage.chatMsgDateTime,
                        chatterId: chatDetail.chatMessage.chatterId
                    }
                    var chatBoxExists = false;

                    for (var i = 0; i < chatBoxArrLen; i++) {
                        if (vm.chatObjectArray()[i].chatBoxId() === chatBoxIdUser || vm.chatObjectArray()[i].chatBoxId() === chatBoxIdFriend) {
                            vm.chatObjectArray()[i].chatMessageList.push(msgObject);
                            chatBoxExists = true;
                        }
                    }
                    if (!chatBoxExists) {
                        vm.chatObjectArray.push(chatObject);
                        //CreateChatBox

                        var chatBox = $("#chatBox").html();
                        $(".footer").append(chatBox);
                        $(".footer.navbarUser").each(function () {
                            ko.cleanNode(this);
                            ko.applyBindings(vm, this);
                        });
                    }

                } else {

                    vm.chatObjectArray.push(chatObject);
                    //CreateChatBox

                    //var chatBox = $("#chatBox").html();
                    //$(".footer").append(chatBox);
                    //$(".footer.navbarUser").each(function () {
                    //    ko.cleanNode(this);
                    //    ko.applyBindings(vm, this);
                    //});
                }
                
            };

            // apply binding on structure like this
            /*
                <div class="navBarUser"></div>
                <div></div>
                <div class="navBarUser"></div>
            omit the center div
            */
            $(".navbarUser").each(function () {
                ko.applyBindings(vm, this);
            });
        })(LayoutVM);

    </script>

    @RenderSection("scripts", required: false)

  

<!--TEMPLATE FOR User Comment-->
<script type="text/html" id="right">
    <div class="media-body">

        @*<a href="#" class="pull-left comment-author" data-bind="text:chatterName"></a>*@
        <span>
            <span class="pull-right" style="line-height: 16px; text-align: left;font-size: 14px" data-control="text-comment" data-bind="text:chatMessage"></span>
            <span class="comment-date pull-right" style="float: left; clear: both;font-size: 10px;" data-bind="text:chatMsgDateTime"></span>

        </span>
    </div>
    <div class="media-right">
        <span>
            <img class="media-object img-circle img-responsive user-avatar-mini" data-bind="attr:{src:$parent.chatHostImage}">
        </span>
    </div>
</script>

<!--TEMPLATE FOR Friend Comment-->
    <script type="text/html" id="left">
            <div>
                <span>
                    <img class="media-object img-circle img-responsive user-avatar-mini pull-left" data-bind="attr:{src:$parent.chatFriendImage}">
                </span>
            </div>
        <div class="media-body">

            @*<a href="#" class="pull-left comment-author" data-bind="text:chatterName"></a>*@
            <span>
                <span class="pull-left" style="line-height: 16px; text-align: left;font-size: 14px" data-control="text-comment" data-bind="text:chatMessage"></span>
                <span class="comment-date" style="float: left; clear: both;" data-bind="text:chatMsgDateTime"></span>

            </span>
        </div>
    </script>

</body>

    